/* Transition Table*/
.transitionsTable, .equivalentStatesTable {
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equivalentStatesTable {
    margin-top: 20px;
}


.transitionsTable h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
}

.tableContainer {
  display: flex; 
  justify-content: center; 
  max-height: 50vh; 
  max-width: 61vh; 
  overflow-y: auto; 
  overflow-x: auto;
  border: 1px solid #555; 
  border-radius: 8px; 
  position: relative;
  align-items: center;
}

.table {
  width: auto; 
  min-width: 100%; 
  border-collapse: collapse;
  position: relative; 
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #555;
    color: #ffffff;
}

.table th {
    background-color: #333;
    color: #ffffff;
    font-weight: bold;
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

.table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.automatacontainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inputContainer, .acceptance {
    flex: 1; 
}

.infoContainer {
    margin: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
}

.acceptance {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
    padding: 10.5px 15px;
    border-radius: 4px;
    border: 1px solid #444; 
    background-color: rgba(255, 255, 255, 0.1);
}

.option {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey; 
}

.text {
  font-weight: bold;
}

.input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 4px 0 0 4px ;
  border: 1px solid #444; 
  background-color: #222;
  color: #fff; 
  outline: none; 
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input::placeholder {
  color: #aaa; 
}

.input:focus {
  border: 1px solid  #4A90E2; 
  box-shadow: 0 0 5px  #123761(76, 175, 80, 0.5); 
}

/* Estilo del botón submit */
.buttonsubmit {
  padding: 12px 20px;
  background-color:  #4A90E2; 
  color: white; 
  border: 1px solid  #4A90E2; 
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en el botón */
.buttonsubmit:hover {
  background-color:  #205fa7; 
  box-shadow: 0 4px 8px  #235792(76, 175, 80, 0.3); 
}


/* Alphabet*/
.Alphabet {
    position: relative;
    flex-grow: 1; 
    text-align: center; 
    font-size: larger;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.disabled {
  background-color: rgba(255, 255, 255, 0.041); 
  color: rgba(255, 255, 255, 0.5); 
  pointer-events: none; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

.cancelButton {
  position: absolute;
  bottom: 5vh; /* Adjust based on the viewport height */
  left: 1vw; /* Adjust based on the viewport width */
  background-color: red;
  color: white;
  border: none;
  padding: 1rem 1.5rem; /* Use rem units for scalable padding */
  border-radius: 0.5rem; /* Rem units for border radius */
  cursor: pointer;
  z-index: 10;
  font-size: 1rem; /* Responsive text size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.cancelButton:hover {
  background-color: darkred;
  transform: scale(1.05); /* Slight scaling effect on hover */
}


