/* Transition Table*/
.transitionsTable, .statesTable{
  justify-content: center;
  padding: 20px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transitionsTable{
  margin-top: 15px;
}

.statesTable{
  margin-top: 20px;
  margin-bottom: 20px;
}

.transitionsTable h2, .statesTable h2{
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow-x: auto; /* Horizontal scrolling */
}

.tableContainer {
  display: flex; 
  justify-content: flex-start; 
  max-height: 61vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto; /* Ensure horizontal scrolling is enabled */
  border: 1px solid #555; 
  border-radius: 8px; 
  position: relative;
}

.table {
  width: 100%; /* Allow the table to grow based on content */
  border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #555;
    color: #ffffff;
}

.table th {
    background-color: #333;
    color: #ffffff;
    font-weight: bold;
    top: 0; 
}

.table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.automatacontainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inputContainer, .acceptance {
    flex: 1; 
}

.infoContainer {
    margin: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
}

.acceptance {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
    padding: 10.5px 15px;
    border-radius: 4px;
    border: 1px solid #444; 
    background-color: rgba(255, 255, 255, 0.1);
}

.option {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey; 
}

.text {
  font-weight: bold;
}

.input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 4px 0 0 4px ;
  border: 1px solid #444; 
  background-color: #222;
  color: #fff; 
  outline: none; 
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input::placeholder {
  color: #aaa; 
}

.input:focus {
  border: 1px solid  #4A90E2; 
  box-shadow: 0 0 5px  #123761(76, 175, 80, 0.5); 
}

/* Estilo del botón submit */
.buttonsubmit {
  padding: 12px 20px;
  background-color:  #4A90E2; 
  color: white; 
  border: 1px solid  #4A90E2; 
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en el botón */
.buttonsubmit:hover {
  background-color:  #205fa7; 
  box-shadow: 0 4px 8px  #235792(76, 175, 80, 0.3); 
}


/* Alphabet*/
.Alphabet {
    position: relative;
    flex-grow: 1; 
    text-align: center; 
    font-size: larger;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.disabled {
  background-color: rgba(255, 255, 255, 0.041); 
  color: rgba(255, 255, 255, 0.5); 
  pointer-events: none; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

.cancelButton {
  position: absolute;
  bottom: 5vh; 
  left: 1vw; 
  background-color: red;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem; 
  cursor: pointer;
  z-index: 10;
  font-size: 1rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.cancelButton:hover {
  background-color: darkred;
  transform: scale(1.05); 
}


.identicalStatesSection {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.identicalStatesSection h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.list {
  list-style-type: none; 
  padding: 0; 
}

.listItem {
  background-color: #464646;
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 10px; 
  margin: 5px 0; 
}





